<div>
    <form>
        <div class="form-group">
            <label>Url</label>
            <input type="url" class="form-control" id="url" name="url" placeholder="http://example.com" required />
        </div>
        <input type="hidden" id="method" name="method" value="GET" />
        <button type="submit" class="btn btn-outline-primary btn-sm" style="cursor:pointer">Add</button>
        <a href="/#" class="btn btn-outline-secondary btn-sm" style="cursor:pointer">Cancel</a>
    </form>
</div>